<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Supercluster Festival 2017, Brussels</title>
    <meta name="description" content="Supercluster Festival 2017, Brussels">
    <meta property="og:image" content="supercluster.be/img/bg.jpg">
    <link rel="stylesheet" href="css/style.css">
    <link rel="canonical" href="http://supercluster.be">
</head>
<body>
    <nav class="menu">
        <ul>
            <li><a href="#artistList">Artists</a></li>
            <!--li><a href="#lineup">Line up</a></li>
            <li><a href="#workshop">Workshop</a></li-->
            <li><a href="#info">Info</a></li>
        </ul>
    </nav>
    <header>
        <!--h1>Supercluster Festival 2017</h1-->
        <p class="date">23 sept 2017</p>
        <p class="place">Barlok, Brussels</p>
    </header>
    <div class="container">
        <section id="artistList">
            <h2>Artists</h2>
            <div class="listing">
                <article v-for="artist in artists" class="artist" :key="artist.id">
                    <div class="artist_card"  v-on:click='artist.show = true'>
                        <div class="artist_thumb" >
                            <img :src="'img/thumbs/' + artist.img" :alt="artist.name" v-if="artist.img !== '' ">
                        </div>
                        <h3>{{ artist.name }}</h3>
                    </div>
                    <artist-info :data="artist" v-if="artist.show"></artist-info>
                </article>
            </div>
            
        </section>
        
        <!--section id="workshop">
            <h2>##Workshop: Jonas Gruska ...</h2>
            <img src="#" alt="">
            <p>##Text ...</p>
        </section>


        <section id="lineup">
            <h2>Lineup</h2>
            <ul>
                <li>17:00 Text</li>
                <li>18:00 Text</li>
                <li>19:00 Text</li>
            </ul>
        </section-->

        <section id="info">
            <h2>Info</h2>
            <p>Venue: Barlok, 53 bis avenue du Port, 1000 Brussels</p>
            <p>RSVP: <a href="https://www.facebook.com/events/459547674424362/" target="_blank">Facebook event</a></p>
        </section>
    </div>

    <script type="text/x-template" id="artistInfo">
        <div class="artist_profile">
            <span class="close" v-on:click='data.show = false'>x</span>
            <figure><img :src="'img/' + data.img" :alt="data.name"></figure>
            
            <h3>{{ data.name }}</h3>
            <div class="artist_genre">{{ data.genre }}</div>
            <p>{{ data.text }}</p>
            <ul class="artist_links"><li v-for="link in data.link"><a :href="link" target="_blank">{{ link }}</a></li></ul>
            <div v-html="data.embed" class="embed"></div>
        </div>
    </script>

    <script src="src/vue.js"></script>
    <script src="src/scripts.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-105789989-1', 'auto');
        ga('send', 'pageview');
        
    </script>
</body>
</html>
