<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Supercluster Festival 2017, Brussels</title>
    <meta name="description" content="Supercluster Festival 2017, Brussels">
    <meta property="og:image" content="supercluster.be/img/bg.jpg">
    <link rel="stylesheet" href="css/style.css">
    <link rel="canonical" href="http://supercluster.be">
</head>
<body>
    <nav class="menu">
        <ul>
            <li><a href="#artistList">Artists</a></li>
            <!--li><a href="#lineup">Line up</a></li-->
            <li><a href="#workshop">Workshop</a></li>
            <li><a href="#info">Info</a></li>
        </ul>
    </nav>
    <header>
        <!--h1>Supercluster Festival 2017</h1-->
        <p class="date">23 sept 2017</p>
        <p class="place">Barlok, Brussels</p>
    </header>
    <div class="container">
        <section id="artistList">
            <h2>Artists</h2>
            <div class="listing">
                <article v-for="artist in artists" class="artist" :key="artist.id">
                    <div class="artist_card"  v-on:click='artist.show = true'>
                        <div class="artist_thumb" >
                            <img :src="'img/thumbs/' + artist.img" :alt="artist.name" v-if="artist.img !== '' ">
                        </div>
                        <h3>{{ artist.name }}</h3>
                    </div>
                    <artist-info :data="artist" v-if="artist.show"></artist-info>
                </article>
            </div>
            
        </section>
        
        <section id="workshop">
            
            <figure>
                <img src="img/esluch.jpg" alt="ELEKTROSLUCH MINI DIY ASSEMBLY WORKSHOP">
            </figure>
            <div class="workshop_description">
                <h2>ELEKTROSLUCH MINI DIY ASSEMBLY WORKSHOP</h2>
                <p>At: 15:00 - 18:00</p>
                <p>Slovak experimental artist and music instruments creator Jonáš Gruska is going to lead you in the making of a electromagnetic listening device "Elektrosluch". Elektroslusch is an open-source device for electromagnetic listening. It allows one to discover sonic worlds of electromagnetic fields that are invisible ever present part of our environment. After the workshop you are going to be able to just plug your headphones in the new miniaturised version of Elektrosluch and explore your surroundings.</p>
                <p>All the necessary parts, including battery are provided but there are two things you need to bring:
                    <br>- soldering iron,
                    <br>- headphones.
                    <br>If you don't have a soldering iron and don't have any experience with soldering don't worry. Jonáš is going to show you the basics and we can lend you one.</p>

                <p><a href="https://lom.audio/product/elektrosluch-mini/" target="_blank">Here is how it works</a> and <a href="https://youtu.be/J-c0OoAF5WQ" target="_blank">sounds</a></p>

                <p>Places are limited to 12 people. Jonáš is going to bring all parts from Slovakia so please send us an e-mail to confirm your interest in advance until 15th of September to superclusterfestival (at) gmail.com Cost is 50 EUR.</p>
            </div>
        </section>


        <!--section id="lineup">
            <h2>Lineup</h2>
            <ul>
                <li>17:00 Text</li>
                <li>18:00 Text</li>
                <li>19:00 Text</li>
            </ul>
        </section-->

        <section id="info">
            <h2>Info</h2>
            <p>Venue: Barlok, 53 bis avenue du Port, 1000 Brussels</p>
            <p>RSVP: <a href="https://www.facebook.com/events/459547674424362/" target="_blank">Facebook event</a></p>
        </section>
    </div>

    <script type="text/x-template" id="artistInfo">
        <div class="artist_profile">
            <div class="artist_profile_wrap">
                <span class="close" v-on:click='data.show = false'>x</span>
                <figure><img :src="'img/' + data.img" :alt="data.name"></figure>
                
                <h3>{{ data.name }}</h3>
                <div class="artist_genre">{{ data.genre }}</div>
                <p>{{ data.text }}</p>
                <ul class="artist_links"><li v-for="link in data.link"><a :href="link" target="_blank">{{ link }}</a></li></ul>
                <div v-html="data.embed" class="embed"></div>
            </div>
        </div>
    </script>

    <!--script src="src/vue.js"></script-->
    <script src="src/vue.min.js"></script>
    <script src="src/scripts.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-105789989-1', 'auto');
        ga('send', 'pageview');
        
    </script>
</body>
</html>
